[Unit]
Description=Minecraft Server (%i)
After=network.target
Documentation=https://github.com/humanfriend22/mcsd
StartLimitBurst=3
StartLimitIntervalSec=60

[Service]
Type=simple
MemoryAccounting=yes
LogNamespace=mcsd-%i
WorkingDirectory=/srv/mcsd/instances/%i

Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

ExecStart=/usr/local/bin/mcsd systemd launch %i
ExecStop=/usr/local/bin/mcsd systemd stop %i

SuccessExitStatus=143 130
Restart=no
TimeoutStopSec=120
SendSIGKILL=yes

# Sandboxing
NoNewPrivileges=yes
ProtectSystem=strict
PrivateTmp=yes
ReadWritePaths=/srv/mcsd/instances/%i

[Install]
WantedBy=multi-user.target
